/*
        Theme Name: gulp_theme
        Author: andxbes
        Website: http://www.welcomebrand.co.uk
        Twitter: @welcomebrand
        Version: 2.0
        Description: A stripped down, style free (well, nearly!) minimal WordPress theme for developing on top of.
        
        CONTENTS
        -------------
        - Global resets
        - Global typography & layout rules
        - Page styles
        - Post styles 
        - General bits 
        
        - Media queries
        
*/

