


.recaptcha-container{
    
    padding-bottom: 15px;
    .g-recaptcha>div{
        max-width: 100% !important;
        background: white;
    }
    iframe{
        width: 100%;
        
    }
}



