/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.01.2017, 1:14:22
    Author     : andr
*/
@import "settings/_settings.scss";

// Все картинки и шрифты необходимо подключать с использованием этих двух переменных:
$imagesPath: '../images' !default;
$fontsPath: '../fonts' !default;

$fa-font-path: $fontsPath;



$minify: false !default;
@if $minify {
  $imagesPath: './images';
  $fontsPath: './fonts';
  $fa-font-path: $fontsPath;
}

/*@import "fonts";*/
/*@import "foundation-settings";*/
/*
*/@import "foundation";
@include foundation-everything(false, true);

/*@import "../../node_modules/foundation-sites/assets/foundation-float.scss";*/


body{
    background-color: #F0F0F0;
    max-width: 100%;
    &.admin-bar .off-canvas-wrapper-inner > div.off-canvas{
        padding-top: 32px;
    }
}

.position-left.off-canvas {
    background-color: $color-sidebars;
    color:white;
    box-shadow: inset -13px 0 20px -13px rgba(245,245,245,.55);
}
.footer{
    background-color: $color-sidebars;
    color: white;
}

.qm-show{
    z-index: 100;
    position: absolute;

}


@import "navigation/_navigation.scss";
@import "content/_content-area.scss";
@import "forms/_forms.scss";

