
#left-primary-navigation{
    &,ul { 
        background-color:$color-sidebars;
        color:white;
        li{
            a{
                background-color: $color-sidebars;
                color:white;  
                border-width: 0 0 0 2px;
                border-style: solid;
                border-color: white;
                padding: 1rem 1.3rem;
            }

            &.is-active {

                border-width: 0 0 2px 0px;
                border-style: solid;
                border-color: $color-grey;



            }

            &:hover ,&:focus{
                & > a{

                    border-color: $color-orange;
                }
            }
        }
    }
}
