/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09.10.2017, 20:21:58
    Author     : andr
*/

.top-bar{
    $font-size: 0.70rem;
    font-size:$font-size;

    .breadcrumbs{
        margin:0;

        span{
            text-transform: uppercase;


            & > a{


            }
            &.delimeter{
                position: relative;
                margin: 0 $font-size;
                opacity: 1;
                content: "/";
                color: #cacaca;
            }
        }


    } 
}

